<div class="content-wrapper" style="min-height: 833px;">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Inicio</font>
                        </font>
                    </h1>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1">
                            <i class="fa fa-shopping-basket"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Compras</font>
                                </font>
                            </span>
                            <span class="info-box-number">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        0
                                    </font>
                                </font>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-success elevation-1">
                            <i class="fa fa-chart-bar"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Ventas</font>
                                </font>
                            </span>
                            <span class="info-box-number">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        0
                                    </font>
                                </font>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1">
                            <i class="fa fa-chart-pie"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Productos </font>
                                </font>
                            </span>
                            <span class="info-box-number">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">0</font>
                                </font>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1">
                            <i class="fas fa-cloud-download-alt"></i>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-text">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Stock Minimo </font>
                                </font>
                            </span>
                            <span class="info-box-number">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">0</font>
                                </font>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Informe de resumen mensual</font>
                                </font>
                            </h5>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <a href="#" class="dropdown-item">Action</a>
                                        <a href="#" class="dropdown-item">Another action</a>
                                        <a href="#" class="dropdown-item">Something else here</a>
                                        <a class="dropdown-divider"></a>
                                        <a href="#" class="dropdown-item">Separated link</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="text-center">
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Ventas: 1 de enero de 2014 - 30 de julio de 2014</font>
                                            </font>
                                        </strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart" height="216" style="height: 216px; width: 1049px;" width="1049"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <p class="text-center">
                                        <strong>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Finalización de la meta</font>
                                            </font>
                                        </strong>
                                    </p>

                                    <div class="progress-group">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Añadir productos a la cesta
                                            </font>
                                        </font>
                                        <span class="float-right">
                                            <b>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">160</font>
                                                </font>
                                            </b>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> /200</font>
                                            </font>
                                        </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-primary" style="width: 80%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->

                                    <div class="progress-group">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Compra completa
                                            </font>
                                        </font>
                                        <span class="float-right">
                                            <b>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">310</font>
                                                </font>
                                            </b>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> /400</font>
                                            </font>
                                        </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" style="width: 75%"></div>
                                        </div>
                                    </div>

                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Visita premium Página </font>
                                            </font>
                                        </span>
                                        <span class="float-right">
                                            <b>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">480</font>
                                                </font>
                                            </b>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> /800</font>
                                            </font>
                                        </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-success" style="width: 60%"></div>
                                        </div>
                                    </div>

                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                Enviar consultas
                                            </font>
                                        </font>
                                        <span class="float-right">
                                            <b>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">250</font>
                                                </font>
                                            </b>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> /500</font>
                                            </font>
                                        </span>
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-warning" style="width: 50%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-success">
                                            <i class="fa fa-caret-up"></i>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> 17%</font>
                                            </font>
                                        </span>
                                        <h5 class="description-header">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">$ 35,210.43</font>
                                            </font>
                                        </h5>
                                        <span class="description-text">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">LOS INGRESOS TOTALES</font>
                                            </font>
                                        </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-warning">
                                            <i class="fa fa-caret-left"></i>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> 0%</font>
                                            </font>
                                        </span>
                                        <h5 class="description-header">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">$ 10,390.90</font>
                                            </font>
                                        </h5>
                                        <span class="description-text">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">COSTE TOTAL</font>
                                            </font>
                                        </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-6">
                                    <div class="description-block border-right">
                                        <span class="description-percentage text-success">
                                            <i class="fa fa-caret-up"></i>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> 20%</font>
                                            </font>
                                        </span>
                                        <h5 class="description-header">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">$ 24,813.53</font>
                                            </font>
                                        </h5>
                                        <span class="description-text">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">BENEFICIO TOTAL</font>
                                            </font>
                                        </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3 col-6">
                                    <div class="description-block">
                                        <span class="description-percentage text-danger">
                                            <i class="fa fa-caret-down"></i>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"> 18%</font>
                                            </font>
                                        </span>
                                        <h5 class="description-header">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">1200</font>
                                            </font>
                                        </h5>
                                        <span class="description-text">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">OBTENER METAS</font>
                                            </font>
                                        </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>