<div class="content-wrapper" style="min-height: 833px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Configuración</font>
            </font>
          </h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header d-flex p-0">
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item">
                  <a class="nav-link active show" href="#general" data-toggle="tab">General</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#finansa" data-toggle="tab">Finansa</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#categoria_insumo" data-toggle="tab">Categoria / Insumo</a>
                </li>
              </ul>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <!-- General -->
                <div class="tab-pane active show" id="general">
                  <form action="">
                    <div class="col-md-12">
                      <h4>Empresa</h4>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="razonSocial">Nombre o Razón Social</label>
                          <input class="form-control" type="text" name="razonSocialEmpresa" id="razonSocial" placeholder="Ingrese un Nombre o Razón Social">
                        </div>
                        <div class="form-group">
                          <label for="dniEmpresa">DNI o Identificación</label>
                          <input class="form-control" type="text" name="dniEmpresa" id="dniEmpresa" placeholder="DNI o Identificación">
                        </div>
                        <div class="form-group">
                          <label for="direccionEmpresa">Dirección</label>
                          <input class="form-control" type="text" name="direccionEmpresa" id="direccionEmpresa" placeholder="DNI o Identificación">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="telefonoEmpresa">Teléfono</label>
                          <input class="form-control" type="tel" name="telefonoEmpresa" id="telefonoEmpresa" placeholder="Ingrese un Teléfono">
                        </div>
                        <div class="form-group">
                          <label for="emailEmpresa">Email</label>
                          <input class="form-control" type="text" name="emailEmpresa" id="emailEmpresa" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <label for="logoEmpresa">Logo de Empresa
                            <span style="color: red">*Opcional</span>
                          </label>
                          <input class="form-control" type="file" name="logoEmpresa" id="logoEmpresa" placeholder="DNI o Identificación">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <h4>Sistema</h4>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>País</label>
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- seleccione --</option>
                            <option value="0">Chile</option>
                            <option value="1">Venezuela</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Zona Horaria</label>
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- seleccione --</option>
                            <option value="0"> UTC-4 Santiago - Chile</option>
                            <option value="1">UTC-4 Caracas - Venezuela</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <a class="btn btn-primary pull-left" style="color: white">Guardar</a>
                    </div>
                  </form>
                </div>
                <!-- Fin General -->
                <!-- Finansa -->
                <div class="tab-pane" id="finansa">
                  <form action="">
                    <div class="col-md-12">
                      <h4>Inpuestos y Monedas</h4>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="direccionSucursal">Inpuesto al Valor Agregado (Iva%)</label>
                          <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Iva" id="direccionSucursal" name="direccionSucursal">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="fas fa-percentage"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Moneda Nacional</label>
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- seleccione --</option>
                            <option value="0">Peso Chileno - CLP</option>
                            <option value="1">Bolivares - Venezuela</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Moneda Internacional</label>
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- seleccione --</option>
                            <option value="0">Dalar Estados Unidos - USD</option>
                            <option value="1">Euro</option>
                            <option value="1">Libra</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Moneda Digital</label>
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- seleccione --</option>
                            <option value="0">Bitcoin</option>
                            <option value="1">Ether</option>
                            <option value="1">Dash</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <a class="btn btn-primary pull-left" style="color: white">Guardar</a>
                    </div>
                  </form>
                </div>
                <!-- Fin Finansa -->
                <!-- Categoria_Insumo -->
                <div class="tab-pane" id="categoria_insumo">
                  <div class="card-header d-flex p-0 ui-sortable-handle" style="cursor: move;">
                    <h3 class="card-title p-3">
                      Categoria / Insumo
                    </h3>
                    <ul class="nav nav-pills ml-auto p-2">
                      <li class="nav-item">
                        <a class="nav-link active show" href="#categoria" data-toggle="tab">Categoria</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#insumo" data-toggle="tab">Insumo</a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <!-- General -->
                      <div class="tab-pane active show" id="categoria">
                        <div class="row">
                          <div class="col-md-6">
                            <h5 class="p-3">Nueva Categoria de Insumo</h5>
                            <form action="">
                              <div class="form-group">
                                <label for="nombreCategoriaInsumo">Nombre</label>
                                <input class="form-control" type="text" name="nombreCategoriaInsumo" id="nombreCategoriaInsumo" placeholder="Ingrese un Nombre">
                              </div>
                              <div class="col-md-12">
                                <a href="" class="btn btn-primary pull-left">Guardar</a>
                              </div>
                            </form>
                          </div>
                          <div class="col-md-6">
                            <h5 class="p-3">Lista de Categorias</h5>
                            <table id="tabla_categoria_Insumo" class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th>Nombre</th>
                                  <th>Opción</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Verduras</td>
                                  <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Opción
                                        <span class="caret"></span>
                                      </button>
                                      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="#">Editar</a>
                                        <a class="dropdown-item" href="#">Eliminar</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Carnes</td>
                                  <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Opción
                                        <span class="caret"></span>
                                      </button>
                                      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="#">Editar</a>
                                        <a class="dropdown-item" href="#">Eliminar</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Bebidas</td>
                                  <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Opción
                                        <span class="caret"></span>
                                      </button>
                                      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="#">Editar</a>
                                        <a class="dropdown-item" href="#">Eliminar</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="insumo">
                        <div class="row">
                          <div class="col-md-6">
                            <h5 class="p-3">Nuevo Insumo</h5>
                            <form action="">
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="nombreInsumo">Nombre</label>
                                    <input class="form-control" type="text" name="nombreInsumo" id="nombreInsumo" placeholder="Ingrese un Nombre">
                                  </div>
                                  <div class="form-group">
                                    <label for="unidad">Unidad</label>
                                    <select class="js-example-basic-single form-control" name="unidad" id="unidad" style="width: 100%;">
                                      <option disabled>-- seleccione --</option>
                                      <option value="0">Lata</option>
                                      <option value="1">Unidad</option>
                                      <option value="1">Bolsa</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="cantidadMedida">Cantidad / Medida</label>
                                    <input class="form-control" type="text" name="cantidadMedida" id="cantidadMedida" placeholder="Ingrese una Cantidad">
                                  </div>
                                  <div class="form-group">
                                    <label for="precioSugerido">Precio Sugerido</label>
                                    <input class="form-control" type="text" name="precioSugerido" id="precioSugerido" placeholder="Ingrese un Precio">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="unidad">Categoria</label>
                                    <select class="js-example-basic-single form-control" name="unidad" id="unidad" style="width: 100%;">
                                      <option disabled>-- seleccione --</option>
                                      <option value="0">Verduras</option>
                                      <option value="1">Carnes</option>
                                      <option value="1">Bebidas</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="unidad">Medida</label>
                                    <select class="js-example-basic-single form-control" name="unidad" id="unidad" style="width: 100%;">
                                      <option disabled>-- seleccione --</option>
                                      <option value="0">ml</option>
                                      <option value="1">gr</option>
                                      <option value="1">Litros</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="stockMinimo">Stock Minimo</label>
                                    <input class="form-control" type="text" name="stockMinimo" id="stockMinimo" placeholder="Ingrese un Minimo">
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <a href="" class="btn btn-primary pull-left">Guardar</a>
                              </div>
                            </form>
                          </div>
                          <div class="col-md-6">
                            <h5 class="p-3">Lista de Insumos</h5>
                            <table id="tabla_Insumo" class="table table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th>Nombre</th>
                                  <th>Categoria</th>
                                  <th>Unidad</th>
                                  <th>Medida</th>
                                  <th>Cantidad/Medida</th>
                                  <th>Opción</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Coca-cola</td>
                                  <td>Bebida</td>
                                  <td>Lata</td>
                                  <td>ml</td>
                                  <td>250</td>
                                  <td>
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Opción
                                        <span class="caret"></span>
                                      </button>
                                      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="#">Editar</a>
                                        <a class="dropdown-item" href="#">Eliminar</a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>

  </section>
  <!-- /.content -->
</div>