<div class="content-wrapper" style="min-height: 833px;">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">Configuración</font>
            </font>
          </h1>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header p-0 pull-left">
              <ul class="nav nav-pills ml-auto p-2">
                <li class="nav-item">
                  <a class="nav-link active show" href="#general" data-toggle="tab">Propiedad</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#finansa" data-toggle="tab">Comercial</a>
                </li>
              </ul>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <!-- Propiedad -->
                <div class="tab-pane active show" id="general">
                  <form action="">
                    <div class="col-md-12">
                      <label>Propiedad</label>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" type="text" name="razonSocialEmpresa" id="razonSocial" placeholder="Nombre o Razón Social">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- Tipo de Propiedad --</option>
                            <option value="0">Restaurant</option>
                            <option value="1">Hotel</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Hubicación</label>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- País --</option>
                            <option value="0">Chile</option>
                            <option value="1">Venezuela</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- Región --</option>
                            <option value="0">Region Metropolitana</option>
                            <option value="1">II - Antofagasta</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- Ciudad --</option>
                            <option value="0">Santiado</option>
                            <option value="1">Antofagasta</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" type="text" name="razonSocialEmpresa" id="razonSocial" placeholder="Dirección">
                        </div>
                        <div class="form-group">
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- Zona Horaria --</option>
                            <option value="0"> America/Santiago</option>
                            <option value="1"> America/Caracas</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Contacto</label>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" type="tel" name="razonSocialEmpresa" id="razonSocial" placeholder="Teléfono">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <input class="form-control" type="email" name="razonSocialEmpresa" id="razonSocial" placeholder="Email">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <a class="btn btn-primary pull-left" style="color: white">Guardar</a>
                    </div>
                  </form>
                </div>
                <!-- Fin Propiedad -->
                <!-- Comercial -->
                <div class="tab-pane" id="finansa">
                  <form action="">
                    <div class="col-md-12">
                      <label>Monedas</label>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- Moneda Principal --</option>
                            <option value="0">Peso Chileno - CLP</option>
                            <option value="1">Bolivares - Venezuela</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <select class="js-example-basic-single form-control" name="region" style="width: 100%;">
                            <option disabled>-- Moneda Adicional --</option>
                            <option value="0">Dalar Estados Unidos - USD</option>
                            <option value="1">Euro</option>
                            <option value="1">Libra</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Impuestos</label>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Iva" id="direccionSucursal" name="direccionSucursal">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="fas fa-percentage"></i>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Egresos</label>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        ---
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label>Formas de cobro</label>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-md-6">
                        ---
                      </div>
                    </div>
                    <div class="col-md-12">
                      <a class="btn btn-primary pull-left" style="color: white">Guardar</a>
                    </div>
                  </form>
                </div>
                <!-- Fin Comercial -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>

  </section>
  <!-- /.content -->
</div>